.App {

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 10px;
  padding: 10px;
}

.container > h1 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.inputStyle  {
  margin-left: 45px;
  margin-bottom: 20px;
  width: 76%;
  height: 30px;
  padding: 0 5px;
}

.labelStyle  {
  display: block;
  width: 76%;
  font-size: 12px;
  margin-left: 50px;
  margin-bottom: 5px
}