

.todoLabel {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    word-wrap: break-word
}

.checkBoxStyle {
    grid-column: span 1;
}

.spanTitle {
    grid-column: span 7;
    padding: 5px 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.editButton {
    margin: 0 2.5%;
    padding: 3px 10px;
    background-color: white;
    border: 0;
    color: blue;
    cursor: pointer;
}

.editButton i:hover {
    font-size: 1.7rem;
}
.editButton:focus {
    outline: none;
}

.deleteButton {
    margin: 0 2.5%;
    padding: 3px 10px;
    background-color: white;
    border: 0;
    color: #f50057;
    cursor: pointer;
}

.deleteButton:focus {
    outline: none;
}

.deleteButton i:hover {
    font-size: 1.7rem;
}


.completed {
    text-decoration: line-through;
}